<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/forms.css">
  </head>
  <body>
    <%= yield %>
    <script charset="utf-8" src="script.js"></script>
  </body>
</html>
